.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 425px;
}
.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}
h5 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    height: 27px;
    width: 200px;
}

.infoCardDesc {
    margin-top: 40px;
    color: var(--Gray-dark, #73798C);
    font-size: 14px;
    font-weight: 400;
    width: 224px;
    height: 95px;
}
.priceFull {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 60px;
}
.price {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}
.specialBtn {
    height: 40px;
    width: 120px;
    border-radius: 1000px;
    border: none;
    background: var(--Orange-light, #FFF0E6);
    font-size: 16px;
    color: var(--Orange-dark, #D15700);
    cursor: pointer;
    &::before {
  content: "В корзину";
    }
    &:hover {
        background: #D15700;
    }
    &:hover::before {
        content: "В корзину";
        color: #FFF;
    }
}
.infoCard {
    display: flex;
    flex-direction: column;
}
h4{
    margin-top: 70px;
}